html {
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
    color: var(--text-color);
}

.foo {
    margin: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.me {
    max-width: 700px;
    height: auto;
    align-self: center;
}