html {
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
    color: var(--text-color);
}

.foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.me {
    width: 700px;
    height: auto;
    align-self: center;
}

h1 {
    font-family: Helvetica Neue, sans-serif;
    text-align: center;
    font-size: 40px
}