/* BASE STYLING */
:root {
  --accent: #000000;
  --link: #D7545E;
  --meta: #949393;
  --text: #414142;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: #FCFBFB;
  color: #949393;
  display: -ms-grid;
  display: grid;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  grid-template-columns:
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 44rem) [main-end]
    minmax(1em, 1fr) [full-end];
  height: 100vh;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
    /* Fallback */
  padding: 0 10px;
  
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
body > * {
  grid-column: main;
}
h1,h2,h3,h4 {
  margin: 0 0 15px;
}
h2,h3,h4 {
  margin-top: 25px;
}
p {
  margin: 0;
}
figure {
  margin: 0;
}
img {
  width: auto;
}
a {
  border-bottom: 2px solid #000000;
  text-decoration: none;
}
a:active,
a:hover {
  color: #D7545E;
}
figure img {
  height: 100%;
  width: 100%;
}
/* Layout */
.avatar {
  border-radius: 50%;
  height: 175px;
  margin: 5px 0 50px;
  width: 175px;
}
.back {
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.back svg {
  height: 25px;
  margin-right: 10px;
  width: 25px;
}
.back,
#intro,
#main,
#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#intro,
#main {
  flex-direction: column;
  margin: auto;
}
#main {
  padding: 40px 20px 20px;
}
#main p {
  margin: 15px 0;
}
#social {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0 5px;
  max-width: 350px;
  width: 100%;
}
.social-item {
  height: 100%;
}
.social-item svg {
  height: 55px;
  width: 55px;
}
@media screen and (max-width: 675px) {
  .avatar {
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-width: 420px) {
  .avatar {
    height: 125px;
    margin-bottom: 30px;
    width: 125px;
  }
  #social {
    margin-top: 30px;
    max-width: 300px;
  }
  .social-item svg {
    height: 40px;
    width: 40px;
  }
}
@media screen and (max-width: 375px) {
  .avatar {
    height: 100px;
    width: 100px;
  }
}
/* Styling */
a,
h1, h2, h3, h4,
.content span,
#intro p span {
  color: #414142;
}
.article-title,
#intro p {
  font-size: 45px;
}
.back {
  font-size: 20px;
}
.back,
#intro p span a,
.social-item {
  border: none;
}
.back svg,
.social-item svg,
.social-item.email svg path {
  fill: #414142;
}
.back:active p {
  color: #D7545E;
}
.back:active svg {
  fill: #D7545E;
}
.social-item.email svg:active path {
  fill: #F14336;
}
.social-item.github svg:active {
  fill: #000;
}
.social-item.twitter svg:active {
  fill: #00ACED;
}
.social-item.upwork svg:active {
  fill: #6FDA44;
}
@media (hover: hover) {
  .back:hover svg {
    fill: #D7545E;
  }
  .social-item.email svg:hover path {
    fill: #F14336;
  }
  .social-item.github svg:hover {
    fill: #000;
  }
  .social-item.twitter svg:hover {
    fill: #00ACED;
  }
  .social-item.upwork svg:hover {
    fill: #6FDA44;
  }
}
@media screen and (max-width: 675px) {
  h1,
  #intro p {
    font-size: 40px;
  }
}
@media screen and (max-width: 420px) {
  h1,
  #intro p {
    font-size: 30px;
  }
}
@media screen and (max-width: 375px) {
  h1,
  #intro p {
    font-size: 28px;
  }
}
@media screen and (max-width: 320px) {
  h1,
  #intro p {
    font-size: 25px;
  }
}