@import 'sans-fonts';
body {
  font-family: sans-serif;
  background-color: #FCFBFB;
  color: #414142;
  font-size: 18px;
  font-weight: 400;
}
.fonts-loaded-1 body {
  font-family: 'IBM Plex Sans Subset';
}
.fonts-loaded-2 body {
  font-family: 'IBM Plex Sans';
}
