body {
  #intro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-top: 50px;
    @media screen and (max-width: 375px) {
      padding-top: 30px;
    }
    @media screen and (max-width: 320px) {
      padding-top: 15px;
    }
    .avatar {
      height: 175px;
      margin: 5px 0 15px;
      width: auto;
      @media screen and (max-width: 675px) {
        height: 150px;
      }
      @media screen and (max-width: 420px) {
        height: 125px;
      }
      @media screen and (max-width: 375px) {
        height: 100px;
      }
    }
    h1, h2 {
      color: #777;
      font-size: 45px;
      font-weight: 600;
      line-height: 65px;
      margin: 15px 0;
      span {
        color: #414142;
      }
      a {
       border-bottom-width: 4px;
      }
      @media screen and (max-width: 675px) {
        font-size: 40px;
        line-height: 60px;
      }
      @media screen and (max-width: 420px) {
        font-size: 30px;
        line-height: 50px;
      }
      @media screen and (max-width: 375px) {
        font-size: 28px;
        line-height: 40px;
      }
      @media screen and (max-width: 320px) {
        font-size: 25px;
      }
    }
    nav.social {
      flex-wrap: wrap;
      margin: 15px 0 5px;
      width: 150px;
      @media screen and (max-width: 420px) {
        width: 120px;
      }
      a {
        text-decoration: none;
        svg {
          @media screen and (max-width: 420px) {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
    a.down {
      height: 42px;
      margin: 0 auto;
      margin-top: auto;
      width: 50px;
      @media screen and (max-width: 320px) {
        height: 25px;
        width: 30px;
      }
    }
  }
}