@import 'colors';
@import 'extends';
@import 'reset';
header#header {
  @extend %items-center;
  @extend %space-between;
  a.home {
    @extend %content-center;
    @extend %flex;
    @extend %items-center;
    height: 35px;
    width: 60px;
    &.open-box {
      width: 65px;
    }
  }
  nav {
    width: 220px;
    a {
      @extend %decoration-none;
      &.rss {
        @extend %flex;
        @extend %items-center;
        @extend %decoration-none;
        height: 25px;
        @extend %content-center;
        width: 15px;
        svg {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
@media print {
  header#header {display: none;}
}