@import 'fonts';
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: #FCFBFB;
  color: #414142;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}