@import 'colors';
@import 'fonts';
@import 'extends';
@import 'mixins';
@import 'reset';
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  @include color(background-color, background);
  @include color(color, text);
  font-size: 18px;
  font-weight: 400;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  // Themes
  &.dieci {
    --background: #{map-get($dieci, background)};
    --text: #{map-get($dieci, text)};
    --meta: #{map-get($dieci, meta)};
    --link: #{map-get($dieci, link)};
    --accent: #{map-get($dieci, accent)};
  }
  &.dracula {
    --background: #{map-get($dracula, background)};
    --text: #{map-get($dracula, text)};
    --meta: #{map-get($dracula, meta)};
    --link: #{map-get($dracula, link)};
    --accent: #{map-get($dracula, accent)};
  }
  &.gotham {
    --background: #{map-get($gotham, background)};
    --text: #{map-get($gotham, text)};
    --meta: #{map-get($gotham, meta)};
    --link: #{map-get($gotham, link)};
    --accent: #{map-get($gotham, accent)};
  }
  &.panic {
    --background: #{map-get($panic, background)};
    --text: #{map-get($panic, text)};
    --meta: #{map-get($panic, meta)};
    --link: #{map-get($panic, link)};
    --accent: #{map-get($panic, accent)};
  }
  .hidden {
    @extend %visually-hidden;
  }
  // Header
  header#header {
    @extend %items-flex-end;
    @extend %content-space-between;
    height: 70px;
    a.home {
      @extend %content-center;
      @extend %flex;
      @extend %items-flex-end;
      @extend %decoration-none;
      height: 40px;
      width: 135px;
      @include media-query-max(450px) {
        width: 65px;
      }
      img {
        height: 25px;
        width: 65px;
      }
      img.box {
        margin: 0 15px 0 0;
        width: 50px;
      }
      img.open-box-juan {
        height: 44px;
      }
      p {
        line-height: 18px;
        width: 68px;
        @include media-query-max(450px) {
          display: none;
        }
      }
    }
    nav {
      width: 250px;
      @include media-query-max(350px) {
        width: 220px;
      }
      a {
        @extend %decoration-none;
        line-height: 18px;
        transition: text-decoration 0.5s ease;
        @include media-query-max(350px) {
          font-size: 15px;
          line-height: 15px;
        }
        &:hover {
          text-decoration: underline;
        }
        &.rss {
          @extend %content-center;
          @extend %flex;
          @extend %items-center;
          @extend %decoration-none;
          height: 15px;
          width: 15px;
          svg {
            height: 15px;
            width: 15px;
          }
          @include media-query-max(350px) {
            height: 13px;
            width: 13px;
            svg {
              height: 13px;
              width: 13px;
            }
          }
        }
      }
    }
  }
  // Article
  article {
    padding: 0;
    margin-bottom: 30px;
    h1, h2, p {
      margin-bottom: 15px;
    }
    h2.title {
      font-size: 36px;
      a {
        @extend %decoration-none;
      }
    }
    h2.title,
    p.content {
      margin: 0 0 15px;
    }
    time.date {
      @include color(color, meta);
    }
    section.content {
      margin: 15px 0;
      div#avatar {
        @extend %content-flex-start;
        @extend %flex;
        height: 250px;
        margin-bottom: 15px;
        width: 100%;
        svg {
          height: 250px;
          width: 185px;
        }
      }
    }
  }
}
@media print {
  header#header {display: none;}
}