@import 'colors';
@import 'fonts';
@import 'extends';
@import 'reset';
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  @include color(background-color, background);
  @include color(color, text);
  font-size: 18px;
  font-weight: 400;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  &.light {
    --background: #{map-get($light, background)};
    --text: #{map-get($light, text)};
    --meta: #{map-get($light, meta)};
    --link: #{map-get($light, link)};
    --accent: #{map-get($light, accent)};
  }
  &.dark {
    --background: #{map-get($dark, background)};
    --text: #{map-get($dark, text)};
    --meta: #{map-get($dark, meta)};
    --link: #{map-get($dark, link)};
    --accent: #{map-get($dark, accent)};
  }
  .hidden {
    @extend %visually-hidden;
  }
}