@import 'colors';
@import 'extends';
@import 'reset';
header#header {
  @extend %items-center;
  @extend %space-between;
  a.home,
  a.home svg.avatar {
    height: 50px;
    width: 36px;
  }
  nav {
    width: 220px;
    a {
      @extend %decoration-none;
      &.rss {
        @extend %flex;
        @extend %items-center;
        @extend %decoration-none;
        height: 25px;
        @extend %content-center;
        width: 15px;
        svg {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
@media print {
  header#header {display: none;}
}