@import 'colors';
@import 'fonts';
@import 'extends';
@import 'reset';
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  @include color(background-color, background);
  @include color(color, text);
  font-size: 18px;
  font-weight: 400;
  height: calc(100vh - 55px);
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  &.light {
    --background: #{map-get($light, background)};
    --text: #{map-get($light, text)};
    --meta: #{map-get($light, meta)};
    --link: #{map-get($light, link)};
    --accent: #{map-get($light, accent)};
  }
  &.dark {
    --background: #{map-get($dark, background)};
    --text: #{map-get($dark, text)};
    --meta: #{map-get($dark, meta)};
    --link: #{map-get($dark, link)};
    --accent: #{map-get($dark, accent)};
  }
  button#theme-switcher {
    background: none;
    border: none;
    bottom: 15px;
    left: 15px;
    padding: 0;
    position: fixed;
    z-index: 10;
    svg {
      height: 40px;
      width: 40px;
      #dracula {
        #cape {
          fill: rgba(#424352,.7);
        }
        #face {
          fill: rgba(#d3d4d5,.5);
        }
        #eyes path {
          fill: rgba(#8f3a6d,.7);
        }
        #hair {
          fill: rgba(#424352,.7);
        }
      }
    }
    &:hover {
      svg {
        height: 40px;
        width: 40px;
        #dracula {
          #cape {
            fill: #424352;
          }
          #face {
            fill: #d3d4d5;
          }
          #eyes path {
            fill: #8f3a6d;
          }
          #hair {
            fill: #424352;
          }
        }
      }
    }
  }
}