@import 'colors';
@import 'fonts';
@import 'extends';
@import 'mixins';
@import 'reset';

body {
  // Intro
  #intro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    // height: 100%;
    padding-top: 50px;
    @include media-query-max(375px) {
      padding-top: 30px;
    }
    @include media-query-max(320px) {
      padding-top: 15px;
    }
    .avatar {
      height: 175px;
      margin: 5px 0 15px;
      width: 126px;
      @include media-query-max(675px) {
        height: 150px;
        width: 108px;
      }
      @include media-query-max(420px) {
        height: 125px;
        width: 90px;
      }
      @include media-query-max(375px) {
        height: 100px;
        width: 72px;
      }
    }
    h1, h2 {
      @include color(color, meta);
      font-size: 45px;
      font-weight: 600;
      line-height: 65px;
      margin: 15px 0;
      max-width: 700px;
      a {
        border-bottom-width: 4px;
        &:hover {
          @include color(color, link);
        }
      }
      @include media-query-max(675px) {
        font-size: 40px;
        line-height: 60px;
      }
      @include media-query-max(420px) {
        font-size: 30px;
        line-height: 50px;
      }
      @include media-query-max(375px) {
        font-size: 28px;
        line-height: 40px;
      }
      @include media-query-max(320px) {
        font-size: 25px;
      }
    }
    nav.social {
      flex-wrap: wrap;
      margin: 15px 0 5px;
      max-width: 300px;
      width: 100%;
      a {
        text-decoration: none;
        svg {
          @include media-query-max(420px) {
            height: 40px;
            width: 40px;
          }
        }
        &.email {
          svg g path {
            fill: transparent;
          }
        }
      }
    }
  }
  // Header
  header#header {
    @extend %items-flex-end;
    @extend %content-space-between;
    min-height: 70px;
    @include media-query-max(570px) {
      align-items: flex-start;
    }
    a.home {
      @extend %content-center;
      @extend %flex;
      @extend %items-flex-end;
      @extend %decoration-none;
      height: 40px;
      width: 135px;
      svg#box {
        height: 25px;
        margin: 0 15px 0 0;
        width: 50px;
      }
      p {
        line-height: 18px;
        width: 68px;
      }
    }
  }
}