// Link Underline
%underline {
  border-bottom: 2px solid #414142;
}
// Layouts
%none {
  display: none;
}
%flex {
  display: flex;
}
%grid {
  display: grid;
}
%margin-center {
  margin: 0 auto
}
%content-center {
  justify-content: center;
}
%items-center {
  align-items: center;
}
%decoration-none {
  text-decoration: none;
}
%space-between {
  justify-content: space-between;
}
%visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; width: 1px;
  overflow: hidden;
  position: absolute !important;
}