@font-face {
  font-family: 'Rubik Subset';
  font-weight: 400;
  font-style: normal;
  src: local(Rubik-subset),
       local(Rubik-subset),
       url("type/Rubik-subset.woff2") format("woff2"),
       url("type/Rubik-subset.woff") format("woff");
  unicode-range: U+20-7E;
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: local(Rubik),
       local(Rubik),
       url("type/Rubik.woff2") format("woff2"),
       url("type/Rubik.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: italic;
  src: local(Rubik-Italic),
       local(Rubik-Italic),
       url("type/Rubik-Italic.woff2") format("woff2"),
       url("type/Rubik-Italic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: local(Rubik-Bold),
       local(Rubik-Bold),
       url("type/Rubik-Bold.woff2") format("woff2"),
       url("type/Rubik-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Plex Mono';
  font-weight: 400;
  font-style: normal;
  src: local(IBMPlexMono),
       local(IBMPlexMono),
       url("type/IBMPlexMono.woff2") format("woff2"),
       url("type/IBMPlexMono.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Plex Mono';
  font-weight: 400;
  font-style: italic;
  src: local(IBMPlexMonoItalic),
       local(IBMPlexMonoItalic),
       url("type/IBMPlexMonoItalic.woff2") format("woff2"),
       url("type/IBMPlexMonoItalic.woff") format("woff");
  font-display: swap;
}

body {
  font-family: sans-serif;
}
.fonts-loaded-1 body {
  font-family: 'Rubik Subset';
}
.fonts-loaded-2 body {
  font-family: 'Rubik';
}