// Portfolio
ul#portfolio {
  @extend %flex;
  flex-wrap: wrap;
  @extend %content-space-between;
  padding: 0;
  h3 {
    margin-bottom: 20px;
  }
  li {
    list-style: none;
    max-width: 300px;
    padding: 0;
    h4, p {
      margin-bottom: 13px;
    }
    h4 a {
      @extend %decoration-none;
    }
  }
}
// List
main.list {
  min-height: calc(100vh - 250px);
  h1.page-title {
    margin-bottom: 30px;
  }
  section.year-container {
    @extend %content-space-between;
    @extend %flex;
    @extend %flex-wrap;
    @extend %items-flex-start;
    margin-bottom: 15px;
    &:nth-child(n+2) {
      @include color(border-top-color, meta);
      border-top-style: solid;
      border-top-width: 1px;
      padding-top: 15px;
    }
    h3 {
      margin: 0;
      &.list-date {
        width: 85px;
        @include media-query-max(590px) {
          @include color(border-bottom-color, meta);
          border-bottom-style: solid;
          border-bottom-width: 1px;
          margin-bottom: 15px;
          padding-bottom: 15px;
          width: 100%;
        }
      }
    }
    div.posts-list {
      @extend %full-width;
      max-width: 475px;
      article.list-item:last-child,
      article.list-item section.info {
        margin-bottom: 0;
      }
    }

  }
  &.bookshelf {
    section.book-list {
      @extend %content-flex-start;
      @extend %flex;
      @extend %flex-wrap;
      @extend %items-center;
      @include color(border-top-color, meta);
      border-top-style: solid;
      border-top-width: 1px;
      padding-top: 15px;
      margin: 15px -15px 0;
      @include media-query-max(370px) {
        justify-content: center;
      }
      article {
        height: 350px;
        margin: 0 15px 30px;
        width: 155px;
        a.audible-link {
          width: 150px;
          img.cover {
            height: 230px;
            width: 150px;
          }
        }
        time.date {
          font-size: 16px;
        }
      }
    }
  }
}
// About
ul.portfolio {
  @extend %content-space-between;
  @extend %flex;
  @extend %flex-wrap;
  @extend %items-center;
  margin: 0;
  padding: 0;
  @include media-query-max(670px) {
    justify-content: center;
  }
  li.projects {
    list-style: none;
    margin: 10px;
    min-height: 280px;
    figure {
      @extend %full-width;
      max-width: 300px;
    }
    h3 {
      @extend %full-width;
      max-width: 300px;
      text-align: center;
      // a {
      //   @extend %decoration-none;
      //   @include color(color, text);
      //   &:hover {
      //     @include color(color, link);
      //   }
      // }
    }
  }
}
// Tags
p.tag {
  margin: 0;
  span {
    @include color(color, link);
  }
}
// Paginator
nav.paginate {
  a {
    height: 35px;
    &.page-next {
      margin-left: auto;
    }
    &.page-prev {
      margin-right: auto;
    }
    svg {
      height: 35px;
      width: auto;
    }
  }
}
// 404
a.back-home {
  @extend %flex;
  @extend %items-center;
  @extend %decoration-none;
  svg {
    height: 38px;
    margin-right: 10px;
    width: auto;
  }
  p {
    font-size: 40px; 
    line-height: 60px;
    @include media-query-max(675px) {
      font-size: 30px;
      line-height: 50px;
    }
    @include media-query-max(420px) {
      font-size: 28px;
      line-height: 40px;
    }
    @include media-query-max(375px) {
      font-size: 25px;
    }
  }
}
main.err-404 {
  @extend %flex;
  @extend %items-center;
  height: calc(100vh - 82px);
  img {
    height: auto;
    max-width: 700px;
    width: 100%;
  }
}
// Footer
footer#footer {
  flex-direction: column;
  height: 124px;
  padding-bottom: 30px !important;
  nav.social,
  nav.social a,
  section.copy {
    @extend %margin-center;
  }
  nav.social {
    @extend %content-center;
    max-width: 240px;
    min-height: 30px;
    width: 100%;
    a,
    a svg {
      height: 30px;
      width: 30px;
    }
    a svg {
      margin: 0;
    }
    a.email {
      svg g path {
        fill: transparent;
      }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      a {
        margin: 0 15px;
      }
    }
  }
  section.copy {
    @extend %flex;
    margin-top: 30px;
    width: 345px;
    @include media-query-max(345px) {
      font-size: 17px;
    }
    h5 {
      font-size: 18px;
      font-weight: normal;
      margin: 0;
      @include media-query-max(345px) {
        font-size: 17px;
      }
    }
  }
}
// Theme Switcher
body {
  button#theme-switcher {
    background: none;
    border: none;
    bottom: 15px;
    right: 15px;
    padding: 0;
    position: fixed;
    z-index: 10;
    svg {
      height: 40px;
      width: 40px;
    }
  }
  &.dieci {
    button#theme-switcher {
      svg path {
        fill: rgba(#FBCD23,.7);
        stroke: rgba(#FBCD23,.7);
      }
      &:hover {
        svg path {
          fill: #FBCD23;
          stroke: #FBCD23;
        }
      }
    }
  }
  &.dracula {
    button#theme-switcher {
      svg path {
        fill: rgba(#FF8ACC,.7);
        stroke: rgba(#FF8ACC,.7);
      }
      &:hover {
        svg path {
          fill: #FF8ACC;
          stroke: #FF8ACC;
        }
      }
    }
  }
  &.gotham {
    button#theme-switcher {
      svg path {
        fill: rgba(#F2815A,.7);
        stroke: rgba(#F2815A,.7);
      }
      &:hover {
        svg path {
          fill: #F2815A;
          stroke: #F2815A;
        }
      }
    }
  }
  &.panic {
    button#theme-switcher {
      svg path {
        fill: rgba(#F8B437,.5);
        stroke: rgba(#F8B437,.5);
      }
      &:hover {
        svg path {
          fill: #F8B437;
          stroke: #F8B437;
        }
      }
    }
  }
}
// Stuff
body {
  > * {
    @include media-query-max(300px) {
      display: none !important;
    }
  }
  section.stuff {
    align-items: center;
    display: flex !important;
    height: 100%;
    justify-content: center;
    width: 100%;
    @include media-query-min(301px) {
      clip: rect(1px, 1px, 1px, 1px);
      display: none !important;
      height: 1px; width: 1px;
      overflow: hidden;
      position: absolute !important;
    }
    h5 {
      font-size: 30px;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
    h5.small {
      @extend %flex;
      @include media-query-max(195px) {
        display: none;
      }
    }
    h5.smaller {
      @extend %none;
      @include media-query-max(195px) {
        display: flex;
      }
    }
  }
}