// Portfolio
ul#portfolio {
  @extend %flex;
  flex-wrap: wrap;
  @extend %space-between;
  padding: 0;
  h3 {
    margin-bottom: 20px;
  }
  li {
    list-style: none;
    max-width: 300px;
    padding: 0;
    h4, p {
      margin-bottom: 13px;
    }
    h4 a {
      @extend %decoration-none;
    }
  }
}
// List
main.list {
  min-height: calc(100vh - 250px);
  article.list-item {
    padding: 0;
    margin-bottom: 30px;
    h2.title {
      font-size: 36px;
      a {
        @extend %decoration-none;
      }
    }
    h2.title,
    p.content {
      margin: 0 0 15px;
    }
    p.content {
      a.more {
        font-size: 15px;
        @extend %decoration-none;
      }
    }
  }
}
// Article
article.post {
  h1, h2, p {
    margin-bottom: 15px;
  }
}
// Article Meta
section.info {
  @extend %vertical-center;
  @extend %space-between;
  p {
    margin: 0;
    span {
      @include color(color, link);
    }
  }
  .date {
    @include color(color, link);
  }
}
// Paginator
nav.paginate {
  a {
    height: 35px;
    &.page-next {
      margin-left: auto;
    }
    &.page-prev {
      margin-right: auto;
    }
    svg {
      height: 35px;
      width: auto;
    }
  }
}
// 404
a.back-home {
  @extend %flex;
  @extend %vertical-center;
  @extend %decoration-none;
  svg {
    height: 38px;
    margin-right: 10px;
    width: auto;
  }
  p {
    font-size: 40px; 
    line-height: 60px;
    @include media-query-max(675px) {
      font-size: 30px;
      line-height: 50px;
    }
    @include media-query-max(420px) {
      font-size: 28px;
      line-height: 40px;
    }
    @include media-query-max(375px) {
      font-size: 25px;
    }
  }
}
main.err-404 {
  @extend %flex;
  @extend %vertical-center;
  height: calc(100vh - 82px);
  img {
    height: auto;
    max-width: 700px;
    width: 100%;
  }
}
// Footer
footer {
  flex-direction: column;
  height: 124px;
  nav.social,
  nav.social a,
  section.copy {
    @extend %margin-center;
  }
  nav.social {
    @extend %horizontal-center;
    max-width: 300px;
    width: 100%;
    a,
    a svg {
      height: 40px;
      width: 40px;
    }
    a svg {
      margin: 0;
    }
    a.email {
      svg g path {
        fill: transparent;
      }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      a {
        margin: 0 15px;
      }
    }
  }
  section.copy {
    @extend %flex;
    margin-top: 30px;
    width: 265px;
    @include media-query-max(345px) {
      font-size: 17px;
    }
  }
}