// Import Dependencies
@import 'colors';
@import 'extends';
@import 'mixins';

// List
main.list {
  min-height: calc(100vh - 194px);
}
// Article
article {
  padding: 0;
  margin-bottom: 30px;
  h1, h2, p {
    margin-bottom: 15px;
  }
  h2.title {
    font-size: 36px;
    a {
      @extend %decoration-none;
    }
  }
  h2.title,
  p.content {
    margin: 0 0 15px;
  }
  section.content {
    margin: 15px 0;
    div#avatar {
      @extend %content-flex-start;
      @extend %flex;
      height: 250px;
      margin-bottom: 15px;
      width: 100%;
      svg {
        height: 250px;
        width: 185px;
      }
    }
  }
}
// About
ul.portfolio {
  @extend %content-space-between;
  @extend %flex;
  @extend %flex-wrap;
  @extend %items-center;
  margin: 0;
  padding: 0;
  @include media-query-max(670px) {
    justify-content: center;
  }
  li.projects {
    list-style: none;
    margin: 10px;
    min-height: 280px;
    figure {
      height: auto;
      min-height: 180px;
      width: 300px;
    }
    h3 {
      @extend %full-width;
      max-width: 300px;
      text-align: center;
    }
  }
}
// 404
a.back-home {
  @extend %flex;
  @extend %items-center;
  @extend %decoration-none;
  svg {
    height: 38px;
    margin-right: 10px;
    width: auto;
  }
  p {
    font-size: 40px; 
    line-height: 60px;
    @include media-query-max(675px) {
      font-size: 30px;
      line-height: 50px;
    }
    @include media-query-max(420px) {
      font-size: 28px;
      line-height: 40px;
    }
    @include media-query-max(375px) {
      font-size: 25px;
    }
  }
}
main.err-404 {
  @extend %content-space-around;
  @extend %flex;
  @extend %flex-column;
  @extend %items-center;
  height: calc(100vh - 90px);
  h1 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
  }
  img {
    height: auto;
    max-width: 650px;
    width: 100%;
  }
}
// Footer
footer#footer {
  flex-direction: column;
  height: 124px;
  padding-bottom: 30px !important;
  nav.social,
  nav.social a,
  section.copy {
    @extend %margin-center;
  }
  nav.social {
    @extend %content-center;
    max-width: 240px;
    min-height: 30px;
    width: 100%;
    a,
    a svg {
      height: 30px;
      width: 30px;
    }
    a svg {
      margin: 0;
    }
    a.email {
      svg g path {
        fill: transparent;
      }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      a {
        margin: 0 15px;
      }
    }
  }
  section.copy {
    @extend %flex;
    margin-top: 30px;
    width: 345px;
    @include media-query-max(345px) {
      font-size: 17px;
    }
    h5 {
      font-size: 18px;
      font-weight: normal;
      margin: 0;
      @include media-query-max(345px) {
        font-size: 17px;
      }
    }
  }
}
// Theme Switcher
body {
  button#theme-switcher {
    background: none;
    border: none;
    bottom: 15px;
    right: 15px;
    padding: 0;
    position: fixed;
    z-index: 10;
    svg {
      height: 40px;
      width: 40px;
    }
  }
  &.light {
    button#theme-switcher {
      svg path {
        fill: rgba(#8F3A6D,.7);
        stroke: rgba(#8F3A6D,.7);
      }
      &:hover {
        svg path {
          fill: #8F3A6D;
          stroke: #8F3A6D;
        }
      }
    }
  }
  &.dark {
    button#theme-switcher {
      svg path {
        fill: rgba(#F2815A,.7);
        stroke: rgba(#F2815A,.7);
      }
      &:hover {
        svg path {
          fill: #F2815A;
          stroke: #F2815A;
        }
      }
    }
  }
}
// Stuff
body {
  > * {
    @include media-query-max(300px) {
      display: none !important;
    }
  }
  section.stuff {
    align-items: center;
    display: flex !important;
    height: 100%;
    justify-content: center;
    width: 100%;
    @include media-query-min(301px) {
      clip: rect(1px, 1px, 1px, 1px);
      display: none !important;
      height: 1px; width: 1px;
      overflow: hidden;
      position: absolute !important;
    }
    h5 {
      font-size: 30px;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
    h5.small {
      @extend %flex;
      @include media-query-max(195px) {
        display: none;
      }
    }
    h5.smaller {
      @extend %none;
      @include media-query-max(195px) {
        display: flex;
      }
    }
  }
}