// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}
*::selection {
  @include color(background, meta);
  color: #fff;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  @include color(background-color, background);
  @include color(color, text);
  font-size: 18px;
  font-weight: 400;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  // Themes
  &.light {
    --background: #{map-get($light, background)};
    --text: #{map-get($light, text)};
    --meta: #{map-get($light, meta)};
    --link: #{map-get($light, link)};
    --accent: #{map-get($light, accent)};
  }
  &.dark {
    --background: #{map-get($dark, background)};
    --text: #{map-get($dark, text)};
    --meta: #{map-get($dark, meta)};
    --link: #{map-get($dark, link)};
    --accent: #{map-get($dark, accent)};
  }
  .hidden {
    @extend %visually-hidden;
  }
  @media screen and (prefers-color-scheme: dark) {
    &.dark {
      --background: #{map-get($dark, background)};
      --text: #{map-get($dark, text)};
      --meta: #{map-get($dark, meta)};
      --link: #{map-get($dark, link)};
      --accent: #{map-get($dark, accent)};
    }
  }
}
a,
article h2 a,
ul#portfolio h4 a {
  @include color(color, text);
}
a.back-home,
article,
footer,
header,
main,
nav.paginate {
  padding: 15px;
}
a:active,
a:hover,
article h2 a:active,
article h2 a:hover,
ul#portfolio h4 a:active,
ul#portfolio h4 a:hover {
  @include color(color, link);
  text-decoration: underline;
}
a svg {
  @include color(fill, text);
}
a:active svg,
a:hover svg {
  @include color(fill, link);
}
a.meta,
hr,
p.meta {
  @include color(color, meta);
}
a.meta:active,
a.meta:hover {
  @include color(color, accent);
}
article {
  a {
    @include color(color, link);
  }
  a:active,
  a:hover {
    @include color(color, accent);
  }
}
article p {
  line-height: 27px;
}
article,
main,
nav.paginate,
ul#portfolio {
  @extend %margin-center;
  max-width: 930px;
  width: 100%;
}
blockquote {
  @include color(border-left-color, link);
  border-left-style: solid;
  border-left-width: 1px;
  margin: 0 0 15px 0;
  padding-left: 15px;
}
code,
figure {
  font: 400 17px monospace;
}
figure {
  @include color(background-color, text);
  @include color(color, background);
}
figure,
h1, h2, h3, h4,
nav > *,
p,
.brand {
  margin: 0;
}
figure,
pre {
  @include color(box-shadow, box);
  margin-bottom: 21px;
}
figcaption p,
pre {
  padding: 5px;
}
footer,
header,
nav {
  @extend %flex;
}
header {
  text-transform: uppercase;
}
header,
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h2, h3, h4 {
  margin-top: 10px;
}
img, 
svg {
  height: auto;
  width: 100%;
}
li {
  margin-bottom: 5px;
}
nav {
  @extend %items-center;
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
ol,
ul {
  padding-left: 30px;
}
ol ul {
  padding-left: 20px;
}
p code {
  @include color(background-color, text);
  @include color(color, background);
  padding: 0 2px;
}
.brand {
  font-size: 42px;
}
.brand {
  margin-bottom: 10px;
}
.highlight pre {
  overflow-x: scroll;
}
@media print {
  header#header,
  footer#footer,
  section.stuff,
  button#theme-switcher {
    display: none;
  }
  main.list {
    > * {
      color: #333;
    }
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
    h3, h4 {
      font-weight: normal;
    }
    a {
      color: #333;
      text-decoration: none;
      &.email::after {
        content: ': hello@juanvillela.me';
      }
    }
  }
}