// Reset
a,
article h2 a,
ul#portfolio h4 a {
  color: $text;
}
a.back-home,
article,
footer,
header,
main,
nav.paginate {
  padding: 15px;
}
a:active,
a:hover,
article h2 a:active,
article h2 a:hover,
p.content a.more:active,
p.content a.more:hover,
ul#portfolio h4 a:active,
ul#portfolio h4 a:hover {
  color: $link;
  text-decoration: underline;
}
a svg {
  fill: $text;
}
a:active svg,
a:hover svg {
  fill: $link;
}
a.meta,
hr,
p.content a.more,
.meta {
  color: $meta;
}
a.meta:active,
a.meta:hover {
  color: $accent;
}
article {
  a {
    color: $link;
  }
  a:active,
  a:hover {
    color: $accent;
  }
}
article p {
  line-height: 27px;
}
article,
main,
nav.paginate,
ul#portfolio {
  @extend %margin-center;
  max-width: 700px;
  width: 100%;
}
blockquote {
  border-left: 1px solid $link;
  margin: 0 0 15px 0;
  padding-left: 15px;
}
code,
figure {
  font: 400 17px monospace;
}
figure {
  background-color: $text;
  color: $background;
}
figure,
h1, h2, h3, h4,
nav > *,
p,
.brand {
  margin: 0;
}
figure,
pre {
  box-shadow: 8px 8px 0 0 $meta;
  margin-bottom: 21px;
}
figcaption p,
pre {
  padding: 5px;
}
footer,
header,
nav,
section.info {
  @extend %flex;
}
header {
  text-transform: uppercase;
}
header,
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h2, h3, h4 {
  margin-top: 10px;
}
img, 
svg {
  height: auto;
  width: 100%;
}
li {
  margin-bottom: 5px;
}
nav {
  @extend %vertical-center;
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
ol,
ul {
  padding-left: 30px;
}
ol ul {
  padding-left: 20px;
}
p code {
  color: $background;
  background-color: $text;
  padding: 0 2px;
}
section.info {
  margin-bottom: 15px;
}
.brand {
  font-size: 42px;
}
.brand {
  margin-bottom: 10px;
}
.highlight pre {
  overflow-x: scroll;
}