<footer>
  {{ partial "social.html" . }}
  <section class="copy">
    <!-- Copyright -->
    <p>&copy{{ .Site.Copyright }}</p>
    <p>&nbsp;&ndash;&nbsp;</p>
    <!-- Link to site source code -->
    {{with .Site.Params.social}}
      <a class="nav-item" href="https://www.github.com/{{.}}/juan" target="_blank">Source</a>
    {{end}}
  </section>
</footer>

<!-- Scripts -->
<script src="/js/{{ index .Site.Data.js.hash "barefoot.js" }}"></script>
<script>
  var lf = new BareFoot({
    scope: "article"
  });
  lf.init();
</script>