{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="list">
    <article class="post">
      <h1 class="title">{{ .Title }}</h1>
      {{ partial "date.html" . }}
      <section class="content">{{ .Content }}</section>
      {{ with .Params.categories }}
        <p class="tag"><span>#</span><a class="meta" href="/articles/categories/{{ . | urlize }}">{{.}}</a></p>
      {{ end }}
    </article>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
{{ define "lazy" }}
  <!-- Scripts -->
  {{ $lazy := resources.Get "js/lazyloading.js" | minify }}
  <script src="{{ $lazy.Permalink }}"></script>

  <!-- Lazy Loading -->
  <script>
    var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy",
      threshold: 200,
      class_loading: "loading",
      class_error: "error"
    });
  </script>
{{ end }}