{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="list">
    <article class="post book-review">
      {{ partial "cover.html" . }}
      <section class="info">
        <h1 class="title book-title">{{ .Title }}</h1>
        {{ partial "author.html" . }}
        {{ partial "read-date.html" . }}
      </section>
      <section class="content">{{ .Content }}</section>
      {{ partial "tags.html" . }}
    </article>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
{{ define "lazy" }}
  <!-- Scripts -->
  {{ $lazy := resources.Get "js/lazyloading.js" | minify }}
  <script src="{{ $lazy.Permalink }}"></script>

  <!-- Lazy Loading -->
  <script>
    var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy",
      threshold: 200,
      class_loading: "loading",
      class_error: "error"
    });
  </script>
{{ end }}