// Link Underline
%underline {
  border-bottom: 2px solid $text;
}

// iPhone X Notch Adjustmetns
%notched {
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

// Layouts
%flex {
  display: flex;
}
%grid {
  display: grid;
}
%center-margin {
  margin: 0 auto
}