// Header
header {
  @extend %vertical-center;
  @extend %space-between;
  a.home,
  a.home svg.avatar {
    height: 50px;
    width: auto;
  }
  nav {
    width: 220px;
    a {
      @extend %decoration-none;
      &.rss {
        @extend %flex;
        @extend %vertical-center;
        @extend %decoration-none;
        height: 25px;
        @extend %horizontal-center;
        width: 15px;
        svg {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
// Home
#intro {
  @extend %flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: 50px;
  @media screen and (max-width: 375px) {
    padding-top: 30px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 15px;
  }
  .avatar {
    height: 175px;
    margin: 5px 0 15px;
    width: auto;
    @media screen and (max-width: 675px) {
      height: 150px;
    }
    @media screen and (max-width: 420px) {
      height: 125px;
    }
    @media screen and (max-width: 375px) {
      height: 100px;
    }
  }
  h1, h2 {
    color: #949393;
    font-size: 45px;
    font-weight: 700;
    line-height: 65px;
    margin: 15px 0;
    span {
      color: $text;
    }
    a {
     border-bottom-width: 4px;
    }
    @media screen and (max-width: 675px) {
      font-size: 40px;
      line-height: 60px;
    }
    @media screen and (max-width: 420px) {
      font-size: 30px;
      line-height: 50px;
    }
    @media screen and (max-width: 375px) {
      font-size: 28px;
      line-height: 40px;
    }
    @media screen and (max-width: 320px) {
      font-size: 25px;
    }
  }
  nav.social {
    flex-wrap: wrap;
    margin: 15px 0 5px;
    width: 150px;
    @media screen and (max-width: 420px) {
      width: 120px;
    }
    a {
      @extend %decoration-none;
      svg {
        @media screen and (max-width: 420px) {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
  a.down {
    height: 42px;
    @extend %margin-center;
    margin-top: auto;
    width: 50px;
    @media screen and (max-width: 320px) {
      height: 25px;
      width: 30px;
    }
  }
}
// Portfolio
ul#portfolio {
  @extend %flex;
  flex-wrap: wrap;
  @extend %space-between;
  padding: 0;
  h3 {
    margin-bottom: 20px;
  }
  li {
    list-style: none;
    max-width: 300px;
    padding: 0;
    h4, p {
      margin-bottom: 13px;
    }
    h4 a {
      @extend %decoration-none;
    }
  }
}
// List
main.list {
  min-height: calc(100vh - 203px);
  article.list-item {
    padding: 0;
    margin-bottom: 30px;
    h2.title {
      font-size: 36px;
      a {
        @extend %decoration-none;
      }
    }
    h2.title,
    p.content {
      margin: 0 0 15px;
    }
    p.content {
      a.more {
        font-size: 15px;
        @extend %decoration-none;
      }
    }
  }
}
// Article
article.post {
  h1, h2, p {
    margin-bottom: 15px;
  }
}
// Article Meta
section.info {
  @extend %vertical-center;
  @extend %space-between;
  p {
    margin: 0;
    &.date {
      color: $link;
    }
    span {
      color: $link;
    }
  }
}
// Paginator
nav.paginate {
  a {
    height: 35px;
    &.page-next {
      margin-left: auto;
    }
    &.page-prev {
      margin-right: auto;
    }
    svg {
      height: 35px;
      width: auto;
    }
  }
}
// 404
a.back-home {
  @extend %flex;
  @extend %vertical-center;
  @extend %decoration-none;
  svg {
    height: 38px;
    margin-right: 10px;
    width: auto;
  }
  p {
    font-size: 40px; 
    line-height: 60px;
    @media screen and (max-width: 675px) {
      font-size: 30px;
      line-height: 50px;
    }
    @media screen and (max-width: 420px) {
      font-size: 28px;
      line-height: 40px;
    }
    @media screen and (max-width: 375px) {
      font-size: 25px;
    }
  }
}
main.err-404 {
  @extend %flex;
  @extend %vertical-center;
  height: calc(100vh - 82px);
  img {
    height: auto;
    max-width: 700px;
    width: 100%;
  }
}
// Footer
footer {
  flex-direction: column;
  nav.social,
  nav.social a,
  section.copy {
    @extend %margin-center;
  }
  nav.social {
    @extend %horizontal-center;
    width: 120px;
    a,
    a svg {
      height: 40px;
      width: 40px;
    }
  }
  section.copy {
    @extend %flex;
    margin-top: 30px;
    width: auto;
    @media screen and (max-width: 345px) {
      font-size: 17px;
    }
  }
}
