// Home
#intro {
  @extend %flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 50px;
  .avatar {
    height: 175px;
    margin: 5px 0 50px;
    width: 175px;
    @media screen and (max-width: 675px) {
      height: 150px;
      width: 150px;
    }
    @media screen and (max-width: 420px) {
      height: 125px;
      margin-bottom: 30px;
      width: 125px;
    }
    @media screen and (max-width: 375px) {
      height: 100px;
      width: 100px;
    }
  }
  p {
    color: #949393;
    font-size: 45px;
    font-weight: 700;
    line-height: 65px;
    margin: 15px 0;
    span {
      color: $text;
    }
    a {
     border-bottom-width: 4px;
    }
    @media screen and (max-width: 675px) {
      font-size: 40px;
      line-height: 60px;
    }
    @media screen and (max-width: 420px) {
      font-size: 30px;
      line-height: 50px;
    }
    @media screen and (max-width: 375px) {
      font-size: 28px;
      line-height: 40px;
    }
    @media screen and (max-width: 320px) {
      font-size: 25px;
    }
  }
  nav.social {
    flex-wrap: wrap;
    margin: 50px 0 5px;
    width: 150px;
    @media screen and (max-width: 420px) {
      margin-top: 30px;
      width: 120px;
    }
    a {
      border: none;
      svg {
        @media screen and (max-width: 420px) {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
// Header
header {
  align-items: start;
  justify-content: space-between;
  a.home,
  a.home svg.avatar {
    height: 50px;
    width: 50px;
  }
  nav {
    width: 220px;
    a {
      @extend %underline;
    }
    a.rss {
      @extend %flex;
      align-items: center;
      @extend %no-border;
      height: 25px;
      @extend %center-content;
      width: 15px;
      svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}
// Feed
main.list {
  min-height: calc(100vh - 203px);
  article.list-item {
    padding: 0;
    margin-bottom: 30px;
    h2.title a {
      @extend %no-border;
    }
  }
}
// Article
article.post {
  h1, h2, p {
    margin-bottom: 20px;
  }
}
// Article Meta
section.info {
  @extend %center-content;
  p {
    margin: 0;
  }
}
// Paginator
nav.paginate {
  a {
    height: 35px;
    &.page-next {
      margin-left: auto;
    }
    &.page-prev {
      margin-right: auto;
    }
    svg {
      height: 35px;
      width: auto;
    }
  }
}
// Footer
footer {
  flex-direction: column;
  nav.social,
  nav.social a,
  section.copy {
    @extend %center-margin;
  }
  nav.social {
    @extend %center-content;
    width: 120px;
    a,
    a svg {
      height: 40px;
      width: 40px;
    }
  }
  section.copy {
    @extend %flex;
    margin-top: 30px;
    width: auto;
    @media screen and (max-width: 345px) {
      font-size: 17px;
    }
  }
}