// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: $background;
  color: $text;
  font: 400 18px 'IBM Plex Sans', sans-serif;
  height: 100%;
  @extend %center-margin;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
a {
  @extend %underline;
  color: $text;
}
a,
a:active,
a:hover,
a:visited {
	text-decoration: none;
}
a:active,
a:hover,
a:visited {
  border-bottom-color: $link;
	color: $link;
}
a svg {
	fill: $text;
}
a:active svg,
a:hover svg,
a:visited svg {
	fill: $link;
}
a.meta {
  border: none;
  color: $meta;
}
a.meta:active,
a.meta:hover,
a.meta:visited {
	color: $accent;
}
article p {
  line-height: 27px;
}
article,
footer,
header,
main,
nav.paginate {
  padding: 15px;
}
article,
main,
nav.paginate {
  @extend %center-margin;
  max-width: 700px;
  width: 100%;
}
footer,
header,
h1, h2, h3, h4,
.meta {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}
footer,
header,
nav,
section.info {
  @extend %flex;
}
header {
	text-transform: uppercase;
	> a {
	  @extend %no-border;
	}
}
header,
h1, h2, h3, h4 {
	font-weight: 700;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h2, h3, h4 {
	margin-top: 10px;
}
img, 
svg {
	height: auto;
}
nav a {
  @extend %no-border;
}
nav {
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
nav > *,
p {
  margin: 0;
}
ol,
ul {
	padding-left: 30px;
}
ol ul {
	padding-left: 20px;
}
li {
  margin-bottom: 5px;
}
section.info {
  margin-bottom: 15px;
}
.brand {
	font-size: 42px;
}
.brand,
h1, h2, h3, h4 {
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
}